.app-container {
    color: $clr01;
    padding: 6px;
    overflow: hidden;

    @include for-mobile-layout {
        padding: 0px;
    }

    .main-container {
        background-color: $clr07;
        overflow: hidden;
        overflow-y: auto;
        padding-inline: 15px;
        
        background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 20%, $clr07 30%), var(--bg-color);
        transition: background-color 1.5s ease-out;
        
        

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: rgba(136, 136, 136, 0.5);
            }
        }


        &::-webkit-scrollbar {
            width: 10px;

            /* Track */
            &-track {
                background: transparent;
            }

            /* Handle */
            &-thumb {
                background: transparent;
            }

            /* Handle on hover */
            &-thumb:hover {
                background: rgba(136, 136, 136, 0.5);
            }

            @media(max-width:$narrow-breakpoint) {
                display: none;
            }
        }

    }
}