.station-details-container {
   $hero-img-height: 400px;
   position: relative;
   width: 100%;

   font-family: circular;

   .hero {
      position: fixed;
      z-index: 0;

      height: $hero-img-height;
      width: 100%;
      padding-top: 12px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .hero-info {
      position: relative;
      z-index: 0;
      height: $hero-img-height;
      padding: 0px 0px 24px 24px;
      align-content: end;
      background-color: transparent;
      
      .title {
         font-family: circular-bold;
         font-size: 96px;
         font-weight: 800px;
      }

      .listeners {}
   }


   .station-content {
      position: relative;
      background-color: $clr07; // gradient
      padding-inline-start: 10px;

      .controlls {
         display: flex;
         align-items: center;
         gap: 30px;
         padding: 20px;

         .play {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            aspect-ratio: 1;
            border-radius: 50%;
            @include btn(play);
         }

         .follow {
            padding: 7px 25px;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.5);
            color: white;
            cursor: pointer;
            font-family: circular-bold;

            &:hover {
               scale: 1.05;
               border: 1px solid rgba(255, 255, 255, 1);
            }
         }
      }

      h2 {
         font-family: circular-bold;
      }
   }
}