.main-view {
    grid-area: main-view;
    overflow-x: hidden;
    // overflow: hidden;
    background-color: $clr08;
    border-radius: 7px;

    &.mobile {
        border-radius: 0;

        // overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .list-name {
        font-family: circular-bold;
        font-size: 24px;
        padding-left: 24px;
    }

    &::-webkit-scrollbar {
        width: 10px;
        opacity: 0.5;

    }

    &::-webkit-scrollbar-track {
        background: transparent;

    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
        height: 5px;
        z-index: 3;

    }

    &::-webkit-scrollbar-thumb:hover {
        background: $clr03;
    }

    &::-webkit-scrollbar-corner {
        border-bottom-right-radius: 7px;
    }

    .home-btn {
        width: 22px;
        height: 24px;
    }
}