.login-signup {
	display: grid;
    background-color: #121212;
    @include for-mobile-layout {
        max-width: 100%;
    }

	.spotify-container{
		display: flex;
		justify-content: center;
		margin-block: 1.4em;
	}

    max-width: 60%;
    padding: 4em 0;
    margin: auto;

    h1 {    
        font-size: 2em;
        text-align: center;
    }

    button {
        background-color: transparent;
        font-size: 1.3em;
    }
}