.playlist-details {
    padding: 20px;
    margin-block: 2rem;
    background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(18, 18, 18, 1) 100%);

    .station-preview {
        gap: 25px;
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%);
        background-color: $clr04;
        padding: 60px 35px 24px;

        .img-uploader-container {
            aspect-ratio: 1;
            height: 100%;
            box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
        }

        .station-summary {
            display: flex;
            flex-direction: column;
            justify-content: end;
            
            

            h1 {
                font-size: 65px;
                margin: 20px 0;
                font-weight: 900;
                transform: translateY(-15%);
            }

            .summary-title {
                font-size: .75rem;
                margin-bottom: 0;
                text-transform: uppercase;
            }

            .mini-dashboard {
                font-size: 0.875rem;
                margin-bottom: 0;
                line-height: normal;
            }
        }
    }

    .song-list-container {
        background-image: linear-gradient(rgba(0, 0, 0, .6) 0, $clr07 230px);
        background-color: $clr04;
        grid-column: 1/-1;
    }

    .playlist-actions {
        padding: 24px 0;
        display: flex;
        gap: 16px;

        .btn-play-green {
            background-color: #1db954;
            color: #ffffff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Add subtle shadow for depth
            transition: background-color 0.3s, box-shadow 0.3s; // Smooth transition

            &:hover {
                background-color: #1ed760;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); // Slightly darker shadow on hover
            }
        }

        .btn-more {
            background-color: unset;
            color: $clr02;
            margin: 0;
            padding: 0;
            border: 0;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            transition: color 0.3s; // Smooth transition

            &:hover {
                color: $clr01;
            }

            svg {
                fill: currentColor; // Ensure icon color matches the text color
                transition: fill 0.3s; // Smooth transition for icon color
            }
        }
    }

    .list-titles {
        display: grid;
        grid-template-columns: 20px 1fr 1fr 1fr 180px;
        gap: 20px;
        align-items: start;
        padding: 10px 20px;
        color: $clr02;
        font-weight: bold;
        border-bottom: 1px solid $clr05;

        svg{
            align-self: center;
            justify-self: center;
        }
    }

}