.search-container {
    font-family: circular-bold;
    font-size: 14px;

    .station-search-header {
        padding: 17px;

    }
}

.equalizer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equalizer-gif {
    width: 16px;
    height: 16px;
}

.spotify-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.spotify-loader {
    width: 100px; // Example larger size
    height: 100px; // Example larger size
}