.search-container {
    font-family: circular-bold;
    font-size: 14px;

    .station-search-header {
        padding: 17px;
        
    }
}

.equalizer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equalizer-icon {
    width: 24px;
    height: 24px;
    
}

.equalizer-gif {
    width: 16px;
    height: 16px;
}