.featured-playlist-container {
    display: flex;
    flex-direction: column;



    .list-title {
        margin-inline: 6px;
        font-size: 1.5rem;
    }

    .lists-container {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        align-items: baseline;
        overflow-x: hidden;
        @include for-desktop-layout {
            grid-auto-columns: 1fr;
        }

        @include for-mobile-layout{
            grid-auto-columns: 33.3333%;
            overflow-x: auto;
            scrollbar-width: none;
        }




        .list-item {
            padding: 10px;
            border-radius: 10px;
            max-width: 200px;
            position: relative;

            // width: 200px;
            .btn-play-green {
                background-color: #1db954;
                color: #ffffff;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                position: absolute;
                opacity: 0;
                top: 58%;
                left: 70%;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
                transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, opacity 0.3s;

                &:hover {
                    scale: 1.03;
                    background-color: #1ed760;
                    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
                }
            }


            &:hover {
                background-color: rgba(179, 179, 179, 0.2);

                &:hover {
                    background-color: $clr15hover;

                    .btn-play-green {
                        opacity: 1;
                        transform: translateY(-20%);
                    }
                }
            }

        }

    }

    .img-container {
        cursor: pointer;

        img {
            border-radius: 10px;
            aspect-ratio: 1;
            object-fit: cover;
        }

    }

    .title {
        font-size: 14px;
        text-align: left;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .description {
        font-size: 12px;
        color: $clr02;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}