.station-song-search {
    display: flex;
    flex-direction: column;
    font-family: circular-bold;
    padding-block: 3em;
    padding-inline: .5em;


    .search-input {
        position: relative;
        width: 360px;

        svg {
            position: absolute;
            fill: $clr02;
            left: 9px;
            top: 13px;
        }

        svg:first-child {
            position: absolute;
            display: flex;
            top: 13px;
            left: 335px;
        }

        input {
            height: 40px;
            border-radius: 5px;
            width: 100%;
            background-color: $clr13;
            padding: 10px 0 8px 33px;
            color: $clr01;
            border: 0;
            font-size: 1rem;

            &::placeholder {
                color: $clr02;
            }
        }
    }

    .track-previews-container {
        display: flex;
        flex-direction: column;

        li {
            &.active {
                background-color: $clr05;

                
            }
        }


        p {
            color: #888;
            text-align: center;
            margin: 0;
        }

        .btn-add-song {
            display: flex;
            align-items: center;
            font-size: .95rem;
            background-color: transparent;
            color: $clr01;
            border: 1px solid #717171;
            padding-inline: 12px;
            padding-block: 5px;

            cursor: pointer;

            &:hover {
                outline: 1px solid #dfdfdf;
            }
        }
    }
}