.side-menu {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    
    @include for-mobile-layout {
        display: grid;
        z-index: 5;
        grid-template-columns: 1fr;
        grid-template-rows: 50px;

        .side-lib {
            display: none;
        }
    }

    .side-lib,
    .side-nav {
        width: 350px; // open width

        @include for-mobile-layout {
            width: 100%;
        }

        &.collapsed {
            width: auto; //close width

            span,
            .side-sort-container,
            .side-search-library,
            .side-filter-menu,
            .side-filter,
            .add-btn {
                display: none;
            }

            .side-list-container .side-card {
                align-self: center;

                // padding-inline-start: 12px;

                .card-details {
                    display: none;
                }

            }


        }
    }

}