.side-list-container {
    @include for-mobile-layout{display: none;}
    display: flex;
    flex-direction: column;
    justify-content: start;
    .side-card {
        display: flex;
        align-items: center;
        margin-inline: .2rem;
        // padding: .4rem;

        background-color: $clr07;
        cursor: pointer;

        &:hover {
            background-color: $clr06;
        }

        &.active {
            background-color: $clr05;
        }


        .img-container {
            width: 46px;
            height: 46px;
            overflow: hidden;
            border-radius: 5px;
            margin-inline: 12px;
            margin-block: 8px;
            
        }

        .card-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            align-items: start;
            // padding-block: 3px;

            font-family: circular;
            font-size: 1rem;

            .card-title {
                color: $clr01;
            }

            .card-type {
                // padding-block: 1px 0;
                color: $clr03;
                font-size: 0.9rem;
                position: relative;
            }


            .card-type::first-letter {
                text-transform: uppercase;
            }

            .card-type {
                text-transform: lowercase;
            }
        }

    }

}