.side-nav {
    @include for-mobile-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px;
        margin: 0;
        place-items: center;
        background-color: #000000;
    }
    display: grid;
    grid-template-rows: 57px 57px;
    width: 100%;
    margin-block-end: 7px;
    border-radius: 7px;
    background-color: $clr07;
    font-family: circular-bold;


    .search-link {
        padding-block: 0px 9px;
    }
    .home-link {
        padding-block: 9px 0;
    }

    .home-link,
    .search-link,
    .library-mobile-only {
        @include for-mobile-layout {
            padding-block: 0;
        }

        display: flex;
        gap: 20px;
        align-items: center;
        padding-inline: 25px;
        // padding-block: 5px 0px;
        color: $clr03;
        text-decoration: none;

        svg {
            width: 20px;
            height: 20px;
        }

        span {
            @include for-mobile-layout {
                display: none;
            }

            padding-block: 3px 0px;
            color: $clr02;
            font-size: 1rem;
        }

        &:hover {
            color: $clr01;
            transition: color 0.4s;
        }
    }

    .library-mobile-only{
        @media (min-width: calc($mobile-breakpoint + 40px)) {
            display: none;
        }
        svg {
            width: 24px;
            height: 24px;
        }
    }

}