.side-list-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    padding-block-end: 10px;
    overflow-y: auto;
    /* Vertical scrollbar */

    .side-card {
        display: flex;
        align-items: center;
        padding-block: 10px 6px;
        padding-inline: 18px;

        background-color: $clr07;
        cursor: pointer;

        &:hover {
            background-color: $clr06;
        }

        &.active {
            background-color: $clr05;
        }


        .img-container {
            width: 48px;
            border-radius: 5px;

        }

        .card-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 48px;
            align-items: start;
            padding-inline-start: 12px;
            padding-block: 3px;



            font-family: circular-light;
            font-size: 1rem;

            .card-title {
                color: $clr01;
            }

            .card-type {
                padding-block: 1px 0;
                color: $clr02;
                font-size: 0.9rem;
                position: relative;
            }


            .card-type::first-letter {
                text-transform: uppercase;
            }

            .card-type {
                text-transform: lowercase;
            }
        }

    }

}