.side-preview-line {
    display: grid;
    grid-template-columns: auto 1fr 30px;
    grid-template-areas: "img station icon";
    gap: 13px;
    // margin-bottom: 15px;
    // margin-left: 6px;
    padding: 8px 8px 8px 8px;

    &:hover {
        background-color: $clr10;
        border-radius: 10px;
    }

    img.side-preview-img {
        grid-area: img;
        width: em(48px);
        height: em(48px);
        border-radius: 5px;
    }

    .station-preview-details {
        display: flex;
        flex-direction: column;
        grid-area: station;

        text-decoration: none;
        color: $clr02;

        span.station-name {
            // grid-area: station;
            // text-decoration: none;
            // color: $clr2;
            width: 200px;
        }

        span.station-created {
            font-size: em(14px);
            color: $clr03;
        }
    }
}