.side-list-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 550px; /* Fixed height */
    padding-block-end: 10px;
    overflow-y: auto; /* Vertical scrollbar */

    .side-card{
        display: flex;
        align-items: center;
        padding: 8px 10px;
        background-color: $clr07;
        cursor: pointer;

        &:hover {
            background-color: $clr06;
        }

        &.active {
            background-color: $clr05;
        }

        
        .img-container{
           width: 50px;
           border-radius: 5px;
           
            img{

            }
        }
        .card-title {
            padding-inline-start: 10px;

        }
    }
   
}