.album-list {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    margin-block: 1.4em;

    li {
        padding-inline: 10px;
        padding-block: 4px;
        display: flex;
        align-items: center;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        color: $clr02;
        font-size: 1rem;
        

        .album-container{
            flex-grow: 1;
        }

        .play-icon {
            display: none;
        }

        &:hover {
            background-color: $clr06;


            .playlist-number {
                display: none;
            }

            .play-icon {
                display: inline-block;
                cursor: pointer;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .name {
            display: flex;
            flex-direction: column;
            padding-inline: 20px;

            height: 50px;
            justify-content: space-around;

        }

        .title {
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }



        .add-btn svg:hover {
            cursor: pointer;
            fill: white;
        }
    }

}