.footer-container {
    line-height: 1.6;
    margin-inline: 1em;

    .details-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
        
        .info {
            display: flex;
            gap: 50px;

            .company {
                display: flex;
                flex-direction: column;
                font-size: .8em;

                span {
                    font-size: .9em;
                    color: $clr09;

                    &:hover {
                        color: $clr01;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            .communities {
                display: flex;
                flex-direction: column;
                font-size: .8em;

                span {
                    font-size: .9em;
                    color: $clr09;

                    &:hover {
                        color: $clr01;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }

            .useful-links {
                display: flex;
                flex-direction: column;
                font-size: .8em;

                span {
                    font-size: .9em;
                    color: $clr09;

                    &:hover {
                        color: $clr01;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            .groovify-plans {
                display: flex;
                flex-direction: column;
                font-size: .8em;

                span {
                    font-size: .9em;
                    color: $clr09;

                    &:hover {
                        color: $clr01;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .links-container {
        
        .social-links {
            display: flex;
            justify-content: end;
            margin-inline: 1rem;

            .btn {
                display: grid;
                align-items: center;
                border: 0;
                background-color: $clr10;
                border-radius: 50%;
                padding: 7px 8px;
                margin-inline: .2rem;

                &:hover {
                    background-color: $clr02;
                    cursor: pointer;
                }

                svg {
                    width: 16px;
                    height: 16px;


                    path {
                        stroke: $clr02;
                        fill: $clr01;
                    }
                }

            }
        }
    }

   

    .policies-container {
        display: grid;
        grid-template-columns: repeat(6, auto) 1fr;
        gap: 10px;
        justify-content: start;

        height: 150px;
        margin-block: 3rem;

        span:last-child {
            justify-self: end;
            padding-inline: 1rem;
        }




        span {
            font-size: .8em;
            color: $clr09;

            &:hover {
                color: $clr01;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}