.header {
    position: sticky;
    top: 0;
    bottom: 0;
    justify-content: space-between;
    height: 3.5rem;
    width: 100%;
    background-color: $clr07;
    z-index: 333;

    .btn {
        background-color: $clr07;
        color: $clr01;
    }

    nav {
        display: flex;
        align-items: center;
        gap: .4em;

        svg {
            fill: $clr09;
            background: none;
            border: none;
            color: $clr01;
            cursor: pointer;
            font-size: 14px;
        }

        .back-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $clr14;
            border-radius: 50%;
            padding: 5px;
        }

        .forward-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $clr14;
            border-radius: 50%;
            padding: 5px;
        }
    }

    .header-menu {
        gap: .3em;

        .install-btn {
            display: flex;
            gap: .4em;
            align-items: center;

            width: 10em;
            font-weight: bold;
        }

        .user-btn{
            background-color: #E07A9F ;
            color: black;
        }

        .notification-btn{
            color: $clr02;
        }


    }
}