.header {
    position: absolute;

    justify-content: space-between;
    height: 3.5rem;
    width: 100%;
    margin-inline: .1em;
    margin-block: .5em;
    border-radius: 10px;
    background-color: $clr07;
    padding: rem(10px) 1rem;

    .btn{
        background-color: rgba(0, 0,0, 0.6);
        color: white;
    }

    nav {
        display: flex;
        align-items: center;
        gap: .3em;

        .back-btn {
            justify-content: center;
            align-items: center;
        }

        .forward-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .header-menu{
        gap: .3em;

        .install-btn{
            display: flex;
            gap: .4em;
            align-items: center;
            
            width: 10em;
            font-weight: bold;
        }


    }
}