.playlist-list {
   display: grid;
   grid-column: 1 / -1;
   grid-template-columns: subgrid;

   @include for-mobile-layout {
      li {

         .play-icon,
         .album,
         .date,
         .btn-like,
         .createdAt {
            display: none;
         }
      }
   }

   li {
      padding-inline: 10px;
      padding-block: 10px;
      display: grid;
      align-items: center;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      color: $clr02;
      font-size: 1rem;

      &.active {
         background-color: $clr05;

         .add-library{
            opacity: 1;
         }

         .small-btn-options,
         .like-icon {
            display: block;
         }
      }

      .play-icon,
      .small-btn-options,
      .like-icon {
         display: none;
      }

      .btn-more {
         background: transparent;
         border: 0;
         margin-block-start: 0.2em;
      }

      .btn-like {
         background: transparent;
         border: 0;
      }

      .add-library{
         opacity: 0;
      }

      &:hover {
         background-color: $clr06;

         cursor: pointer;
         
         .add-library {
            opacity: 1;

            &:hover {
               fill: $clr01;
               scale: 1.02;
            }
         }


         .v-icon {
            opacity: 1;

            &:hover {
               fill: $clrGreen;
               scale: 1.06;
            }
         }

         .playlist-number {
            display: none;
         }

         .play-icon {
            display: inline-block;
            cursor: pointer;

            svg {
               width: 16px;
               height: 16px;

               path {
                  fill: white;
               }
            }
         }

         .small-btn-options {
            display: inline-block;
            cursor: pointer;
            margin-inline-end: 1em;

            svg {
               width: 20px;
               height: 20px;
            }
         }

         .like-icon {
            display: inline-block;
            cursor: pointer;
            margin-inline-end: 2em;
            display: flex;

            svg {
               width: 20px;
               height: 20px;
            }
         }
      }

      .playlist-number {
         &.active {
            color: $clrGreen;
         }
      }

      .name {
         display: flex;
         flex-direction: column;
         height: 50px;
         justify-content: space-around;
      }

      .title {
         color: white;
         display: flex;

         &.active {
            color: $clrGreen;
         }

         &:hover {
            text-decoration: underline;
         }
      }


      .add-btn svg:hover {
         cursor: pointer;
         fill: white;
      }

      &:last-child {
         border-bottom: 1px solid $clr05;
      }
   }
}