.main-search {
    display: flex;
    font-family: circular-bold;
    padding: 0 4em;

    .input-container {
        position: relative;
        width: 100%;

        svg {
            position: absolute;
            fill: $clr02;
            left: 12px;
            top: 16px;
            scale: 1.1;
        }

        input {
            height: 50px;
            width: 360px;

            padding: 10px 0 8px 33px;

            border-radius: 20px;
            color: $clr01;
            background-color: $clr13;
            border: 1px solid transparent;
            
            font-size: 1rem;

            &:focus {
                border: 2px solid $clr01;
            }

            &:hover {
                border-color: gray;
                &:focus {
                    border: 2px solid $clr01;
                }
            }

            &::placeholder {
                color: $clr12;
            }
        }        
    }
}
