.side-lib {
    display: grid;
    grid-template-rows: 60px 85px auto 110px; // control the side lib vertical layout [your lib, filter buttons, search, list]
    align-items: start;
    border-radius: 7px;
    background-color: $clr07;
    height: calc(100% - 115px);

    .top-bar {
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
       

        .your-library {
            display: flex;
            align-items: end;
            gap: 4px;
            padding-inline: 23px;
            border: none;
            background-color: $clr07;
            font-size: rem(16px);

            
            svg {
                width: 30px;
                height: 24px;
                margin-right: 5px;
                cursor: pointer;
            }

            span.library {
                color: $clr02;
                font-weight: bold;
                font-family: circular-bold;
                display: flex;
            }
           
        }

        .add-btn {
            @include btn($type: regular);
            border-radius: 20px;
            margin-right: 20px;
            padding: 5px 5px 1px;
            
            background-color: $clr07;

            &:hover {
                background-color: $clr06;
            }
        }
    }
}