.side-lib {
    display: grid;
    grid-template-rows: 60px 85px auto 110px; // control the side lib vertical layout [your lib, filter buttons, search, list]
    align-items: start;
    border-radius: 7px;
    background-color: $clr07;
    height: calc(100% - 115px);

    .top-bar {
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;

        .side-nav {
            display: grid;
            grid-template-rows: 53px 53px;
            width: 100%;
            margin-block-end: 7px;
            border-radius: 7px;
            background-color: $clr07;
            font-family: circular-bold;

            .search-link {
                padding-block: 0px 9px;
            }

            .home-link,
            .search-link {
                display: flex;
                gap: 20px;
                align-items: center;
                padding-inline: 25px;
                color: $clr03;
                text-decoration: none;

                svg {
                    width: 20px;
                    height: 20px;
                }

                span {
                    padding-block: 3px 0px;
                    color: $clr02;
                    font-size: 1rem;
                }

                &:hover {
                    color: $clr01;
                    transition: color 0.4s;
                }
            }

        }

        .your-library {
            display: flex;
            align-items: end;
            gap: 4px;
            padding-inline: 23px;
            border: none;
            background-color: $clr07;
            font-size: rem(16px);


            svg {
                @include for-mobile-layout{
                    display: none;
                }
                width: 30px;
                height: 24px;
                margin-right: 5px;
                cursor: pointer;
            }

            span.library {
                @include for-mobile-layout{
                    color: $clr01;
                    font-size: 1.2rem;
                }
                color: $clr02;
                font-weight: bold;
                font-family: circular-bold;
                display: flex;
            }

        }

        .add-btn {
            @include btn($type: regular);
            border-radius: 20px;
            margin-right: 20px;
            padding: 5px 5px 1px;

            background-color: $clr07;

            &:hover {
                background-color: $clr06;
            }
        }
    }
}