.side-lib,
.side-nav {
    
    
    &.collapsed {
        // changed to 70
        width: 70px;
        overflow: hidden;

        span,
        .side-sort-container,
        .side-search-library,
        .side-filter-menu,
        .side-filter,
        .add-btn {
            display: none;
        }


    }
}

