.side-nav {
    display: grid;
    grid-template-rows: 53px 53px;
    width: 100%;
    margin-block: 7px;
    border-radius: 7px;
    background-color: $clr07;
    font-family: circular-bold;

    .search-link{
        padding-block: 0px 9px;
    }

    .home-link,
    .search-link {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-inline: 25px;
        color: $clr03;
        text-decoration: none;

        svg {
            width: 20px;
            height: 20px;
        }

        span {
            padding-block: 3px 0px;
            color: $clr02;
            font-size: 1rem;
        }

        &:hover {
            color: $clr01;
            transition: color 0.4s;
        }
    }

}