.side-menu {
    height: calc(100vh - 80px);
    &.collapsed {
        width: 70px;
    }
    
    .side-lib,
    .side-nav {

        &.collapsed {
            width: 70px;
            overflow: hidden;

            span,
            .side-sort-container,
            .side-search-library,
            .side-filter-menu,
            .side-filter,
            .add-btn {
                display: none;
            }


        }
    }

}