.side-list {
    
    height: 100vh;
    overflow-y: auto;
   
    .side-preview-container {

        a.link.clicked {
            text-decoration: none;
            background-color: $clr11;
        }
    }

}