.side-nav {
    display: grid;
    grid-template-rows: 50px 50px;
    width: 100%;
    margin-block: 7px;
    padding-inline-start: 3px;
    border-radius: 7px;
    background-color: $clr07;
    font-family: circular-bold;

    .home-link,
    .search-link {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 8px 0px 2px 24px;
        color: $clr03;
        text-decoration: none;

        svg {
            width: 20px;
            height: 20px;
        }

        span {
            margin-left: 5px;
            padding: 5px;
            color: $clr02;
            font-size: 0.85rem;
        }

        &:hover {
            color: $clr01;
            transition: color 0.4s;
        }
    }

    .search-link,.home-link {
        span {
            font-size: 1rem;
        }
    }
}