.main-stations-container {
    position: relative;

    margin-top: 10px;

    .station-list-name {
        padding-left: 24px;
        font-family: circular-bold;
        font-size: 24px;
    }

    .station-list-container {
        display: flex;
        max-width: 100%;
        position: relative;
        flex: 1 1 100%;
        margin-bottom: 16px;
        min-height: 200px;
        padding-inline: 12px;

        z-index: 2;
        margin-top: 25px;
        justify-content: space-evenly;
    }
}