.card{
    display: grid;
    grid-auto-flow: column;
    align-content: space-between;
    
    
    background-color: $clr02;

    .card-img-container{
        height: 100px;;
        width: 100px;;
    }

    .card-title{

    }
}