.track-list {
    display: flex;
    flex-direction: column;
    margin-inline-start: 15px;

    li {
        display: grid;
        grid-template-columns: 30px 40px 2fr 1fr 50px 100px;
        align-items: center;
        justify-items: left;
        padding-block: 9px;
        padding-inline-start: 20px;

        color: $clr02;
        font-size: 1rem;


        &:hover {
            background-color: $clr06;

            .track-number {
                display: none;
            }

            .equalizer {
                display: block;
            }

            .play-btn {
                display: inline-block;
                cursor: pointer;

                svg path {
                    fill: white;
                }
            }

            .listeners {
                color: white;
            }
        }

        .track-number,
        .play-icon {
            grid-column: 1;
            cursor: pointer;

            &.active {
                color: $clrGreen;
            }
        }

        .play-btn {
            display: none;
        }

        .add-library:hover{
            display: block;
            &:hover {
                fill: $clr01;
                scale: 1.02;
            }
        }

        .v-icon:hover {
            display: block;
            &:hover {
                fill: $clrGreen;
                scale: 1.06;
            }
        }

        .title {
            justify-self: left;
            padding-inline-start: 10px;
            color: white;

            &.active {
                color: $clrGreen;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .like-btn svg:hover {
            cursor: pointer;
            fill: white;
        }

        .like-btn.liked svg {
            fill: $clrGreen;
        }


    }


}

.btn.show-more {
    display: flex;
    justify-content: start;
    width: 100px;
    padding-block: 15px;
    margin-inline-start: 11px;

    cursor: pointer;
    border: none;
    color: $clr02;
    background-color: transparent;
    font-family: 'circular-bold';

    &:hover {
        color: $clr01
    }
}