.track-list {
    display: flex;
    flex-direction: column;

    li {
        display: grid;
        grid-template-columns: 30px 40px 2fr 1fr 50px 100px;
        align-items: center;
        justify-items: left;
        padding-block: 10px;
        padding-inline-start: 20px;

        color: $clr02;
        font-size: 1rem;

        &:hover {
            background-color: $clr06;

            .track-number{
                display: none;
            }

            .play-icon{
                display: inline-block;
            }

            .listeners {
                color: white;
            }
        }

        .track-number,.play-icon {
            grid-column: 1;
            cursor: pointer;
        }
        
        .play-icon{
            display: none;
        }

        .title {
            justify-self: left;
            padding-inline-start: 10px;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }

        .add-btn svg:hover {
            cursor: pointer;
            fill: white;
        }
    }

    .btn.show-more {
        display: flex;
        justify-content: start;
        width: 100px;
        padding-block: 20px;

        cursor: pointer;
        border: none;
        color: $clr02;
        background-color: transparent;
        font-family: 'circular-bold';

        &:hover {
            color: $clr01
        }
    }
}