* {
    box-sizing: border-box;
}


html {
    font-family: circular, gotham, rubik;
}

.app-container {
    color: $clr01;

    .main-container {
        background-color: $clr07;
    }
}



body {
    font-size: rem(18px);
    margin: 0;
    background-color: $clr08;


    @media (min-width: 860px) {
        background-color: $clr08;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}


li {
    line-height: 0;
}


img {
    width: 100%;
}

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

button {
    font-family: circular, gotham, rubik;
}

input {
    font-family: circular, rubik;
}

.pointer {
    cursor: pointer;
}

.img-uploader {
    height: 100%;
    width: 100%;
    background-color: $clr06;
}

input {
    &:focus-within {
        outline: unset;
    }
}

/* width */
::-webkit-scrollbar {
    position: absolute;
    right: 0;
    width: 10px;
    height: 0;

    /* Track */
    &-track {
        background: transparent;
    }

    /* Handle */
    &-thumb {
        background: transparent;
    }

    /* Handle on hover */
    // &-thumb:hover {
    // background: rgba(136, 136, 136, 0.5);
    // background: #555;
    // }

    @media(max-width:$narrow-breakpoint) {
        display: none;
    }
}

// Range input:
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.2rem;

    outline: none;
    border-radius: 2px;
    cursor: pointer;

    &::-webkit-slider-thumb {
        position: relative;

        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        height: .8rem;
        width: .8rem;
        border-radius: 50%;
    }

    &:hover::-webkit-slider-thumb {
        background-color: $clr01;
    }
}