.app-container {
    display: grid;
    grid-template-columns: auto 1fr;

    min-height: 100vh;

    .side-menu {
        grid-column: 1;
    }

    .main-container {        
        grid-column: 2;

        display: grid;
        grid-template-rows: 1fr auto;
        gap: 1rem;

        header {
            grid-row: 1;
        }

    }

}