.app-container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    gap: .4rem;

    .side-menu {
        grid-column: 1;
    }

    .main-container {
        grid-column: 2;
        display: grid;
        grid-template-rows:auto 1fr;
    }

    .content-layout {
        display: grid;
        grid-template-columns: 100px 1fr 100px;

        >* {
            grid-column: 2;

            &.full {
                grid-column: 1 /-1;
            }
        }
    }
}