@font-face {
    font-family: gotham;
    src: url('/src/assets/fonts/Gotham/GothamMedium_1.ttf');
}

@font-face {
    font-family: gotham-light;
    src: url('/src/assets/fonts/Gotham/GothamLight.ttf')
}

@font-face {
    font-family: rubik;
    src: url('/src/assets/fonts/Rubik/Rubik-Medium.ttf')
}

@font-face {
    font-family: rubik-light;
    src: url('/src/assets/fonts/Rubik/Rubik-Light.ttf')
}

@font-face {
    font-family: circular;
    src: url('/src/assets/fonts/Circular/CircularStd-Book.otf');
}

@font-face {
    font-family: circular-light;
    src: url('/src/assets/fonts/Circular/CircularStd-Light.otf');
}