// Colors
//grayScale
$clr01: #fff;
$clr02: #b3b3b3;
$clr03: #7f7f7f;
$clr04: #535353;
$clr05: #404040;
// $clr06: #2828287b;
$clr06: #282828;
$clr07: #121212;
$clr08: #000;
$clr09: #a7a7a7;
$clr10: #2b2b2c;
$clr11: #3E3E3E;
$clr12: #757575;
$clr13: #2A2A2A;
$clr14: #0A0A0A;
$clr15: #fff3;
$clr15hover: #fff6;


// colors
$clrGreen: rgb(30, 215, 96);

// Breakpoints
$mobile-breakpoint: 450px;
$narrow-breakpoint: 860px;
$wide-breakpoint: 860px;
$wide-normal-breakpoint: 1100px;

// layout vars
$nav-width: 200px;
$mobile-nav-height: 50px;
$border-radius: 8px;
$padding: 16px;
$font-size: 14px;

// backgrounds
$station-background: url("data:image/svg+xml;base64,PHN66ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
$station-background2: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");